
.home-container {
    display: flex;
    
    background-color: #87CEEB;
    
}




.company-form {
    max-width: 400px;
    margin-top:20px ;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.image-container {
    margin: 20px auto;
    width: 700px;
    
    object-fit: cover;
    
    flex-shrink: 0;
    
}


.company-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.company-form input,
.company-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.company-form textarea {
    resize: vertical;
    min-height: 100px;
}


.company-form button {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


.company-form input:focus,
.company-form textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}